/* @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter-SemiBold.ttf");
    font-display: swap;
    font-weight: 600;
    font-style: normal;
  }
  @font-face {
    font-family: "Inter";
    src: url("/fonts/Inter/Inter-Bold.ttf");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "Montserrat";
    src: url("/fonts/Montserrat/Montserrat-Bold.ttf");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
} */
  
  @media (max-width: 1440px) {
    html {
      font-size: 55%;
    }
    .activity_container .activity_box_img {
      max-width: 74%;
    }
    .activity_container .activity_box_img .image {
      padding-bottom: 3rem;
    }
    .activity_container .activity_box_img .image:not(:nth-child(4n)) {
      padding-right: 3rem;
    }
  }
  @media (max-width: 1024px) {
    html {
      font-size: 50%;
    }
    .activity_container .activity_box_img {
      padding-bottom: 5rem;
    }
    .activity_container .activity_box_img .image {
      padding-bottom: 3rem;
    }
    .activity_container .activity_box_img .image:not(:nth-child(3n)) {
      padding-right: 3rem;
    }
    .swiper_video_container {
      width: 94%;
    }
    .footer .footer_bottom .navbar .logo {
      margin-left: 19rem;
      margin-right: 6rem;
    }
  }
  @media (max-width: 768px) {
    html {
      font-size: 40%;
    }
    #menu_btn {
      display: inline-block;
    }
    #menu_btn.fa-times {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
    .header .header_container .header_top {
      display: none;
    }
    .header .header_container .header_bottom {
      position: relative;
    }
    .header .header_container .header_bottom .navbar {
      position: absolute;
      top: 99%;
      left: -7%;
      right: -7%;
      padding-bottom: 2rem;
      background: #000;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
              clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
    .header .header_container .header_bottom .navbar.active {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
              clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .header_container .header_bottom .navbar a {
      display: block;
      font-size: 2rem;
      padding: 2rem 6%;
    }
    .header .header_container .header_bottom .navbar a span {
      width: 1rem;
      height: 1rem;
      color: #fff;
    }
    .video .swiper_video .swiper_video_container .slide {
      margin-left: 7rem;
      max-width: 41%;
    }
  }